
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}   




.inputFather {
    padding-left: 20px;
    
    width: 450px;
    margin: 150px auto 50px auto;
    border-radius: 40px;
    

}
.input{ 
    
    width: 330px;
    height: 60px;
    padding: 10px 5px;
    float: left;   
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
    
}
.input:focus {
    outline: 0;
    background: transparent;
     box-shadow: 0 0 2px rgba(0,0,0,0.8) inset; 
     border: 2px solid  #fff;
}


.button {
    overflow: visible;
    position: relative; 
    left: -50px;
    float: right;
    border: 0;
    padding: 15px;
    cursor: pointer;
    height: 60px;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    background: #198cff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,4, 0.9);
}  
   
